<nav class="navbar">
    <ul>
        <li class="Acceuil"><a href="#">{{ title }}</a></li>
        <li class="articles"><a href="#">{{ title }}</a></li>
        <li class="contact">{{ title }}</li>
    </ul>
</nav>